# Data Pre-Processing

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler, LabelEncoder

post_vacc_inf = pd.read_csv("/content/drive/MyDrive/SJSU/CMPE Coures/CMPE-255\
 Data mining/Project/data/Post-Vaccination_Infection_Data.csv")

vacc_prog = pd.read_csv("/content/drive/MyDrive/SJSU/CMPE Coures/CMPE-255\
 Data mining/Project/data/Vaccine_Progress_Dashboard_Data.csv")

In [16]:
# Function to find NaN in a given dataset  
def returnNaNCount(dataset):
  output = {} 
  for column in dataset.columns:
    count = dataset[column].isnull().sum()
    if count > 0:
      output[column] = count
  return output

In [62]:
# Replace nan value with median in post_vacc_inf
def nanReplacer(dataset,meth):
  data = dataset.copy()
  tempDict = returnNaNCount(dataset)
  for key in tempDict:
    if meth == 'median':
      data[key].fillna(data[key].median(),inplace=True)
    if meth == 'mean':
      data[key].fillna(data[key].mean(),inplace=True)
  return data

In [61]:
def scaler(data,range):
  tool = MinMaxScaler(feature_range = range)
  return tool.fit_transform(data)

In [72]:
# Note the two dataframe needs to have same column number counts
def copyColumnName(tobeReplace,target):
  index = 0
  for column in target.columns:
    tobeReplace.rename({tobeReplace.columns[index]:column},axis=1,inplace=True)
    index += 1
  return tobeReplace

In [18]:
post_vacc_inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          378 non-null    object
 1   area                          378 non-null    object
 2   area_type                     378 non-null    object
 3   unvaccinated_cases            378 non-null    int64
 4   vaccinated_cases              378 non-null    int64
 5   boosted_cases                 378 non-null    int64
 6   unvaccinated_hosp             378 non-null    int64
 7   vaccinated_hosp               378 non-null    int64
 8   boosted_hosp                  378 non-null    int64
 9   unvaccinated_deaths           378 non-null    int64
 10  vaccinated_deaths             378 non-null    int64
 11  boosted_deaths                378 non-null    int64
 12  population_unvaccinated       378 non-null    int64
 13  population_vaccinated         378 non-null    int64
 14  population_boosted            378 non-null    int64
 15  unvaccinated_cases_per_100k   372 non-null    float64
 16  vaccinated_cases_per_100k     372 non-null    float64
 17  boosted_cases_per_100k        185 non-null    float64
 18  unvaccinated_hosp_per_100k    372 non-null    float64
 19  vaccinated_hosp_per_100k      372 non-null    float64
 20  boosted_hosp_per_100k         185 non-null    float64
 21  unvaccinated_deaths_per_100k  372 non-null    float64
 22  vaccinated_deaths_per_100k    372 non-null    float64
 23  boosted_deaths_per_100k       185 non-null    float64
dtypes: float64(9), int64(12), object(3)
memory usage: 71.0+ KB

In [ ]:
vacc_prog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36580 entries, 0 to 36579
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   county                          36580 non-null  object
 1   administered_date               36580 non-null  object
 2   total_doses                     36580 non-null  int64
 3   cumulative_total_doses          36580 non-null  int64
 4   pfizer_doses                    36580 non-null  int64
 5   cumulative_pfizer_doses         36580 non-null  int64
 6   moderna_doses                   36580 non-null  int64
 7   cumulative_moderna_doses        36580 non-null  int64
 8   jj_doses                        36580 non-null  int64
 9   cumulative_jj_doses             36580 non-null  int64
 10  partially_vaccinated            36580 non-null  int64
 11  total_partially_vaccinated      36580 non-null  int64
 12  fully_vaccinated                36580 non-null  int64
 13  cumulative_fully_vaccinated     36580 non-null  int64
 14  at_least_one_dose               36580 non-null  int64
 15  cumulative_at_least_one_dose    36580 non-null  int64
 16  california_flag                 27709 non-null  object
 17  booster_recip_count             36580 non-null  int64
 18  cumulative_booster_recip_count  36580 non-null  int64
dtypes: int64(16), object(3)
memory usage: 5.3+ MB

In [73]:
tempPd = nanReplacer(post_vacc_inf,meth = 'median')

In [74]:
tempPd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          378 non-null    object
 1   area                          378 non-null    object
 2   area_type                     378 non-null    object
 3   unvaccinated_cases            378 non-null    int64
 4   vaccinated_cases              378 non-null    int64
 5   boosted_cases                 378 non-null    int64
 6   unvaccinated_hosp             378 non-null    int64
 7   vaccinated_hosp               378 non-null    int64
 8   boosted_hosp                  378 non-null    int64
 9   unvaccinated_deaths           378 non-null    int64
 10  vaccinated_deaths             378 non-null    int64
 11  boosted_deaths                378 non-null    int64
 12  population_unvaccinated       378 non-null    int64
 13  population_vaccinated         378 non-null    int64
 14  population_boosted            378 non-null    int64
 15  unvaccinated_cases_per_100k   378 non-null    float64
 16  vaccinated_cases_per_100k     378 non-null    float64
 17  boosted_cases_per_100k        378 non-null    float64
 18  unvaccinated_hosp_per_100k    378 non-null    float64
 19  vaccinated_hosp_per_100k      378 non-null    float64
 20  boosted_hosp_per_100k         378 non-null    float64
 21  unvaccinated_deaths_per_100k  378 non-null    float64
 22  vaccinated_deaths_per_100k    378 non-null    float64
 23  boosted_deaths_per_100k       378 non-null    float64
dtypes: float64(9), int64(12), object(3)
memory usage: 71.0+ KB

In [75]:
# post vacc inf encoding process
leEnc = LabelEncoder()
tempPd['date'] = leEnc.fit_transform(tempPd['date'])
tempPd['area'] = leEnc.fit_transform(tempPd['area'])
tempPd['area_type'] = leEnc.fit_transform(tempPd['area_type'])

In [76]:
# post vacc inf scaling process 
tempPd = scaler(tempPd,range = (0,1))

In [77]:
tempPd = pd.DataFrame(tempPd)

In [78]:
tempPd.head(10)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.000000,0.0,0.0,0.254028,0.000267,0.0,0.858852,0.000000,0.0,0.072464,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
1,0.002653,0.0,0.0,0.206859,0.000184,0.0,0.651914,0.000000,0.0,0.094203,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
2,0.005305,0.0,0.0,0.187604,0.000334,0.0,0.601675,0.000000,0.0,0.108696,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
3,0.007958,0.0,0.0,0.162607,0.000184,0.0,0.525120,0.000000,0.0,0.123188,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
4,0.010610,0.0,0.0,0.151107,0.000167,0.0,0.531100,0.000000,0.0,0.188406,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
5,0.013263,0.0,0.0,0.104220,0.000117,0.0,0.382775,0.001919,0.0,0.217391,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
6,0.015915,0.0,0.0,0.079036,0.000017,0.0,0.387560,0.000000,0.0,0.311594,...,0.0,0.030436,0.011744,0.021967,0.077144,0.000000,0.052553,0.009118,0.00000,0.095508
7,0.018568,0.0,0.0,0.150711,0.000367,0.0,0.485646,0.001919,0.0,0.275362,...,0.0,0.027432,0.011368,0.021967,0.068346,0.009133,0.052553,0.014336,0.00000,0.095508
8,0.021220,0.0,0.0,0.123362,0.000184,0.0,0.447368,0.001919,0.0,0.268116,...,0.0,0.025032,0.010405,0.021967,0.063718,0.016823,0.052553,0.018890,0.00000,0.095508
9,0.023873,0.0,0.0,0.117622,0.000300,0.0,0.409091,0.000000,0.0,0.340580,...,0.0,0.023037,0.009376,0.021967,0.059380,0.014824,0.052553,0.024973,0.00000,0.095508

In [79]:
tempPd = copyColumnName(tempPd,post_vacc_inf)

In [80]:
tempPd.head(10)

,date,area,area_type,unvaccinated_cases,vaccinated_cases,boosted_cases,unvaccinated_hosp,vaccinated_hosp,boosted_hosp,unvaccinated_deaths,...,population_boosted,unvaccinated_cases_per_100k,vaccinated_cases_per_100k,boosted_cases_per_100k,unvaccinated_hosp_per_100k,vaccinated_hosp_per_100k,boosted_hosp_per_100k,unvaccinated_deaths_per_100k,vaccinated_deaths_per_100k,boosted_deaths_per_100k
0,0.000000,0.0,0.0,0.254028,0.000267,0.0,0.858852,0.000000,0.0,0.072464,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
1,0.002653,0.0,0.0,0.206859,0.000184,0.0,0.651914,0.000000,0.0,0.094203,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
2,0.005305,0.0,0.0,0.187604,0.000334,0.0,0.601675,0.000000,0.0,0.108696,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
3,0.007958,0.0,0.0,0.162607,0.000184,0.0,0.525120,0.000000,0.0,0.123188,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
4,0.010610,0.0,0.0,0.151107,0.000167,0.0,0.531100,0.000000,0.0,0.188406,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
5,0.013263,0.0,0.0,0.104220,0.000117,0.0,0.382775,0.001919,0.0,0.217391,...,0.0,0.043122,0.021769,0.021967,0.179167,0.080236,0.052553,0.216475,0.10346,0.095508
6,0.015915,0.0,0.0,0.079036,0.000017,0.0,0.387560,0.000000,0.0,0.311594,...,0.0,0.030436,0.011744,0.021967,0.077144,0.000000,0.052553,0.009118,0.00000,0.095508
7,0.018568,0.0,0.0,0.150711,0.000367,0.0,0.485646,0.001919,0.0,0.275362,...,0.0,0.027432,0.011368,0.021967,0.068346,0.009133,0.052553,0.014336,0.00000,0.095508
8,0.021220,0.0,0.0,0.123362,0.000184,0.0,0.447368,0.001919,0.0,0.268116,...,0.0,0.025032,0.010405,0.021967,0.063718,0.016823,0.052553,0.018890,0.00000,0.095508
9,0.023873,0.0,0.0,0.117622,0.000300,0.0,0.409091,0.000000,0.0,0.340580,...,0.0,0.023037,0.009376,0.021967,0.059380,0.014824,0.052553,0.024973,0.00000,0.095508